# {{ ansible_managed }}

{% for directive in nginx_core_directives %}
{% include '_directive.j2' %}
{% endfor %}

events {
{% for directive in nginx_events_directives %}
{% include '_directive.j2' %}
{% endfor %}
}

http {
{% for directive in nginx_http_directives %}
{% include '_directive.j2' %}
{% endfor %}
}

stream {
{% for directive in nginx_stream_directives %}
{% include '_directive.j2' %}
{% endfor %}
}

{% if nginx_mail_directives is defined %}
mail {
{% for directive in nginx_mail_directives %}
{% include '_directive.j2' %}
{% endfor %}
}
{% endif %}
